
body {
    background-color: #0a2933;
    color: ghostwhite;
    font-family: 'Raleway';
    font-size: 2em;
}

#wrapper {
    margin-top: 100px;
    position: relative;
    z-index: 10000;
}

#app {
    text-align: center;

    h1 {
        height: 80px;
    }

    h1 span {
        font: 60px 'Bungee';
        height: 600px;
        position: absolute;
        width: 20px;
        transform-origin: bottom center;
    }

    h2 {
        font-size: 40px;
    }

    .char0 { transform: rotate(-35deg); }
    .char1 { transform: rotate(-30deg); }
    .char2 { transform: rotate(-25deg); }
    .char3 { transform: rotate(-20deg); }
    .char4 { transform: rotate(-15deg); }
    .char5 { transform: rotate(-10deg); }
    .char6 { transform: rotate(-5deg); }
    .char7 { transform: rotate(0deg); }
    .char8 { transform: rotate(5deg); }
    .char9 { transform: rotate(10deg); }
    .char10 { transform: rotate(15deg); }
    .char11 { transform: rotate(20deg); }
    .char12 { transform: rotate(25deg); }
    .char13 { transform: rotate(30deg); }
    .char14 { transform: rotate(35deg); }
    .char15 { transform: rotate(40deg); }
}

#leaderboard {
    margin: 0 auto;
    text-align: center;
    ul {
        display: inline-block;
    }
    li {
        text-align: left;
        list-style-type: none;
        margin-bottom: 15px;
    }

    .leader-1 {
        font-size: 2em;
    }

    .leader-2 {
        font-size: 1.8em;
    }

    .leader-3 {
        font-size: 1.6em;
    }

    .leader-4 {
        font-size: 1.4em;
    }

    .leader-4 {
        font-size: 1.2em;
    }
}

#luke {
    img {
        min-width: 400px;
        min-height: 400px;
    }
}
